<.instruction />

<div
  class="w-full mt-10 flex flex-col items-start"
  id="container"
  data-signalling-id={@signalling_id}
  hidden
>
  <.avatar condition={@condition} />
  <.image image64={@image} />
</div>

<.script
  image64={@image}
  session_id={@session_id}
  step={@step}
  prolific_pid={@prolific_pid}
  condition={@condition}
/>
